@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    @apply h-full w-full overflow-hidden;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Marker Felt', sans-serif;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
  }
}
